#content .tags dl.enums { margin-left: 30px; }
#content .tags dl.fields { margin-left: 30px; }
#content .inline-objects p.children { line-height: 2.4em; }
#content .inline-objects p.children .object_link a {
  font-family: monospace;
  padding: 5px 7px;
  padding-right: 4px;
  margin-right: 5px;
  background: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-weight: bold;
}
#content .package.signature {
  font-weight: normal;
  font-family: monospace;
  font-size: 1.05em;
}
#content .inline-objects p.children .object_link a:hover {
  background: #CFEBFF; border-color: #A4CCDA;
}
#content dl.constants { font-size: 1.05em; }
#content dl.constants .note { padding-right: 6px; }
#content dl.constants dt { font-weight: normal; }
#content dl.constants dt .defn { margin-bottom: 10px; }
#content dl.constants dd { font-family: sans-serif; white-space: normal; }
#content dl.constants dd h3 { font-size: 1.05em; margin: 0; }
.note.title.interface, .note.title.struct {
  font-weight: bold;
  color: #8C8B00;
  background: #FEFFE1;
  border-color: #D9DBBC;
}
.note.title.enum {
  background: #204B66;
  color: #fff;
  border-color: #315773;
}
dl.enums .hljs { background: transparent; }
pre, code { tab-size: 2; }